=input-reset
  margin: 0
  padding: 0
  border: 0
  background: none
  box-shadow: none
  vertical-align: middle
  white-space: normal
  line-height: 1
  &:focus
    outline: 0

=btn
  +input-reset
  appearance: none
  user-select: none
  text-decoration: none
  display: inline-block
  &:disabled
    cursor: default
  &:enabled:hover
    cursor: pointer

=clearfix
  &:after
    content: ""
    display: table
    clear: both

.clearfix
  +clearfix

.btn
  +btn
